@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.playground-grid {
  display: grid;
  gap: 10px;
  background: white;
  border-radius: 10px;
}

.playground-grid.even-speakers {
  grid-template-columns: repeat(2, 1fr);
}

.playground-grid.odd-speakers {
  grid-template-columns: repeat(3, 1fr);
}

.speaker-item {
  justify-self: end;
  display: flex;
}
.speaker-item p {
  right: 85%;
}
.middle-speaker {
  justify-self: center;
  grid-column-start: 1;
  grid-column-end: 4;
}
.middle-speaker p {
  left: 50%;
  bottom: 100%;
}
.left-speaker {
  justify-self: start;
  grid-column-start: 1;
  grid-column-end: 3;
}
.left-speaker p {
  left: 85%;
}
body {
  background-color: #ffff00;
}

.talkbubble:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  /* left: 2%; */
  right: 2%;
  top: 100%;
  border: 10px solid;
  border-color: #fd0202 transparent transparent #f50000;
}
.talkbubble:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  /* left: 4%; */
  right: 4%;
  top: 100%;
  border: 5px solid;
  border-color: #fff transparent transparent #fff;
}
.left-speaker .talkbubble:before {
  left: 2%;
}
.left-speaker .talkbubble:after {
  left: 4%;
}
